#header
{
	text-align: left;
	font-size: 15;
	font-family: arial;
	background-color:#b0e0e6;
	height: 150px;

	
}
#objective
{
	text-align:left;
	font-style: initial;
	font-size: 15;
	background-color: 	#C0C0C0;
}
#info
{
	text-align: left;
	font-style: initial;
	font-size: 13;

}
#skills
{
	text-align:left;
	font-style: initial;
	font-size: 15;
	background-color: 	#C0C0C0;	
}

#cv
{
	text-align:left;
	font-style: initial;
	font-size: 15;
	background-color:	#C0C0C0;	
}

#info
{
	text-align:left;
	font-style: initial;
	font-size: 15;
	background-color: 	#C0C0C0;	
}

